[Unit]
Description=pycec

[Service]
Restart=always
ExecStartPre=/usr/bin/tvservice --off
ExecStart=/usr/local/bin/pycec

[Install]
WantedBy=multi-user.target
