[Unit]
Description=pystats

[Service]
Restart=always
ExecStart=/usr/local/bin/pystats.py
ExecStopPost=/usr/local/bin/clearoled.py

[Install]
WantedBy=multi-user.target
